.Rectangle-top {
    width: device-width;
    height: 40px;
    background-color: #022737;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
.Need-Assistance {
    width: 105px;
    height: 14px;
    font-family: HelveticaNeue;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: white;
    margin-left: 50%;
}
.A1029087---John-Cars {
    width: 183px;
    height: 15px;
    font-family: HelveticaNeue;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #022737;
  }
.profile {
    width: 20px;
    height: 20px;
    background-color: white;
    margin-right: 10%;
}
.mail {
    /* width: 20.2px;
    height: 14.9px; */
    width: 18px;
    height: 18px;
    border: solid 1px #022737;
    background-color: white;
}
.Rectangle-internal_1 {
    width: 200px;
    height: 20px;
    border-radius: 10.5px;
    background-color: white;  
}
  .Rectangle-bottom {
    width: device-width;
    height: 80px;
    border: solid 1px #022737;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}
.logo {
    width: 143px;
    height: 60px;
    object-fit: contain;
    display:inline-block;
}
.Text-Style-7 {
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: bold;
    font-stretch: condensed;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #022737;
    display: flex;
}
.Text-Style-7:hover{
  cursor: pointer;
  border-bottom: solid 5px #022737;
  transform: scale(1.1);
}
/* .acc_para{
  width: 122px;
  height: 16px;
}
.grants_para{
  width: 49px;
  height: 16px;
}
.contri_para{
  width: 97px;
  height: 16px;
}
.inves_para{
  width: 85px;
  height: 16px;
}
.res_para{
  width: 71px;
  height: 16px;
}
.myacc_para{
  width: 79px;
  height: 16px;
} */
/* 
@font-face { font-family: HelveticaNeue; src: url('//Assets/HelveticaNeueCondensed/HelveticaNeue-Condensed.ttf'); } 
 @font-face { font-family: HelveticaNeue; font-weight: bold; src: url('//Assets/HelveticaNeueCondensed/HelveticaNeue-Condensed\ Bold.ttf');} */

.footer_top{
  width: device-width;
  height: 268px;
  background-color: #022737;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
}
.sec1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-left: 10%;
}
.top1,.top2{
  width: 144px;
  height: 210px;
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.92;
  letter-spacing: 0.5px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}
.top3{
  margin-right: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;

}
.footer_bottom {
  width: device-width;
  height: 139px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.footer_bottom_logo {
  width: 162px;
  height: 46px;
  object-fit: contain;
}
.char {
  width: auto;
  height: auto;
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #505050;
}
.Subscribe-to-our-New {
  width: 214px;
  height: 18px;
  font-family: BerkeleyStd;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.5px;
  color: var(--white-two);
}
.input {
  width: auto;
  height: 40px;
  background-color: white;
}
.Subscribe-to-our-New {
  width: 214px;
  height: 18px;
  font-family: BerkeleyStd;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.5px;
  color: white;
}
