
@font-face { font-family: HelveticaNeue; 
            src: url('//Assets/HelveticaNeueCondensed/HelveticaNeue-Condensed.ttf'); 
            } 
@font-face {
  font-family: BerkeleyStd;
  src: url(//Assets/BerkeleyStd-Book.otf);
}
/* @font-face { font-family: HelveticaNeue; font-weight: bold; src: url('//Assets/HelveticaNeueCondensed/HelveticaNeue-Condensed\ Bold.ttf');} */

:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --background_color: #022737;
  --white-two: whitesmoke;
  --char-color: #505050;
  --button: #006778;
  --line: #006778;
}


body{
  border: solid 1px var(--background_color);
}

.site_header_top {
    height: auto;
    padding: 10px;
    background-color: var(--background_color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
.header_text_needAssistance {
    width: 105px;
    height: 14px;
    font-family: HelveticaNeue;
    font-size: 12px;
    letter-spacing: 0.5px;
    color:var(--white);
    margin-left: 50%;
}
.users {
    width: auto;
    height: auto;
    font-family: HelveticaNeue;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: var(--background_color);
  }
.profile {
    width: 20px;
    height: 20px;
    background-color: var(--white);
    margin-right: 10%;
    border-radius: 10px;
}
.mail {
    /* width: 20.2px;
    height: 14.9px; */
    width: 20px;
    height: 18px;
    border: solid 1px var(--background_color);
    background-color: var(--white);
}
#dropdown {
    width: 200px;
    height: 20px;
    border-radius: 10.5px;
    background-color: var(--white);  
}
.site_header_bottom {
    height:auto;
    padding: 10px;
    border: solid 1px var(--background_color);
    background-color: var(--white);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}
.logo {
    width: 143px;
    height: 60px;
    object-fit: contain;
    display:inline-block;
}
.header_bottom_text {
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: bold;
    font-stretch: condensed;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: var(--background_color);
    display: flex;
}
.header_bottom_text:hover{
  cursor: pointer;
  border-bottom: solid 5px var(--background_color);
  transform: scale(1.1);
}

.site_body_bottom{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: var(--button);
  border: none;
  color: var(--white);
  text-align: center;
  font-size: 16px;
  font-family: Helvetica;
  width: 40%;
  height: 50px;
  transition: all 0.5s;
  cursor: pointer;
  /* margin: 51px 5px 49px 140px;
  padding: 16px 191px 15px 192px; */
  margin: 50px 10px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}




.footer_top{
  height: auto;
  padding: 25px 0px;
  background-color: var(--background_color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}
.footer_top_sec1 {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-left: 10%;
}
ul{
  list-style-type: none;
  cursor: pointer;
}
.footer_top_ul{
  height: 210px;
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.92;
  letter-spacing: 0.5px;
  color: var(--white);
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}
.footer_top_sec3{
  margin-right: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;

}
.footer_bottom {
  height: auto;
  padding: 35px 0px;
  background-color: var(--white-two);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.footer_bottom_logo {
  width: 162px;
  height: 46px;
  object-fit: contain;
}
.footer_char {
  width: auto;
  height: auto;
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--char-color);
}
.footer_Subscribe-to-our-New {
  width: 214px;
  height: 18px;
  font-family: BerkeleyStd;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.5px;
  color: var(--white-two);
}
.input {
  width: auto;
  height: 40px;
  background-color: var(--white);
}
